/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }
code {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #090;
}

/* Dev Styles */
div#promo, div#main, div#supporting { /*border-top: 1px solid black;*/ }

/* Body */


html { 
  background: #FFD300;
}
body {
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  font-size: medium;
}

h1,h2,h3,h4,h5,h6,ul.accessibility,ul#navigation { font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif; }
h2,h3 { margin-bottom: .5em; }
h3 { 
  background: #222;
  color: #FFF;
  padding: 10px;
  line-height: 1;
}
li h2, .feature h2 { text-align: center; }

div.feature h2 a { 
  display: block;
  color: #FFF;
}
div.feature h2 a:hover,
div.feature h2 a:focus,
div.feature h2 a:active {
  color: #C00;
  text-decoration: none;
}
ul.feature h2 a {
  display: block;
  color: #C00;
}
ul.feature h2 a:hover,
ul.feature h2 a:focus,
ul.feature h2 a:active {
  color: #000;
  text-decoration: none;
}

a {
  color: #08A;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #666;
  text-decoration: underline;
}

a:visited {
  color: #047;
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {
  /*background-image: url('/book/css/gfx/shadow.png');
  background-repeat: repeat-x;*/
}

/* Header */
div#header {
  font-size: small;
  padding: 10px 10px 10px 10px;
  background: #000;
  color: #FFF;
}

div#header h1 {
}
div#header h1 a {
  text-decoration: none;
  color: #C00;
}
div#header h1 a:focus,
div#header h1 a:hover,
div#header h1 a:active {
  color: #FFF;
}
div#header p.tagline {
}
div#header ul.accessibility {
  position: absolute;
  left: -10000px;
}

/* Promo */
div#promo {
  position: relative;
  padding: 64px 0px 40px 0px;
  margin: 0 auto;
  width: 748px;
}
div.summary h2 {
  color: white;
  padding: 0px 0px 20px 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 200%;
}
div.summary p {
  width: 492px;
  font-size: 150%;
  line-height: 1.4;
}
.home div.summary p {
  position: absolute;
  left: 0px;
}
div#promo .feature {
  width: 216px;
  padding: 10px;
  margin-left: 512px;
  background: #000;
  color: #FFF;
}
div#promo .feature p { line-height: 1.4; }
div#promo .feature {
 -moz-border-radius: 10px;
}
.feature .featured a {
  display: block;
  background: #C00;
  color: #FFF;
  padding: 5px 10px;
  margin: 1em 0em;
}
.featured a:hover,
.featured a:active {
  background: #FFD300;
  color: #000;
  text-decoration: none;
}
.other a:hover,
.other a:active {
  color: #FFD300;
}
.other a {
  font-size: small;
  margin-bottom: 1em;
  color: #CCC;
}
/* Content */
.home div#content { 
  background: inherit;
  padding: 0px;
  border-top: 0px;
}
div#content {
  background: #EEE;
  padding: 64px 0px;
  border-top: 5px solid #696969;
}
div#content p,
div#content ul,
div#content ol {
  margin-bottom: 1em;
  line-height: 1.5
}
div#main {
  width: 748px;
  margin: 0 auto;
}
div#main ul li {
  list-style-type: square;
  margin-left: 1.5em;
}
div#main ul.feature > li {
  width: 236px;
  float: left;
  margin-right: 20px;
  padding-bottom: 108px;
  margin-left: 0;
  list-style-type: none;
}
div#main ul.feature > li.updates {
  margin-right: 0px;
}
.resources div#main h2,
.examples div#main h2 {

}

div.chapter { 
  margin-bottom: 2em; 
}

div#supporting {
  clear: both;
}

/* Footer */
div#footer {
  clear: both;
  background: #393939;
  color: #FFF;
  padding: 64px 0px 0px 0px;
}
div#footer div#book {
  width: 748px;
  margin: 0 auto;
}
div#book img {
  display: block;
  padding: 0px 2px 0px 2px;
  margin-right: 20px;
  float: left; 
}
div#book p { line-height: 1.5; }
div#footer div#siteinfo {
  clear: both;
  padding: 64px 0px 32px 0px;
  width: 784px;
  margin: 0 auto;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: small;
}
div#footer p.credits {
  position: absolute;
}
div#footer ul.validators {
  text-align: right;

}
div#footer ul.validators li {
  display: inline;
  padding-left: .25em;
}

/*Navigation*/
div.nav {
  font-size: small;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
ul#navigation {
  position: absolute;
  right: 0px;
}

ul#navigation li {
  float: left;
}
ul#navigation li#nav-contact { margin-right: 0px; }

ul#navigation li a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 10px 10px 10px 10px;
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus,
ul#navigation li a:active,
.home #nav-home a,
.rpk #nav-rpk a,
.examples #nav-examples a,
.resources #nav-resources a,
.updates #nav-updates a,
.contact #nav-contact a {
  color: #C00;
  border-bottom: 5px solid #C00;
  text-decoration: none;
}


/*Content Typography: Headings*/
div#content h2 {
}
div#content h3 {
}
div#content h4 {
}
div#content h5 {
}
div#content h6 {
}

/*Content Typography: Paragraphs*/
div#content p {
}

/*Content Typography: Unordered Lists*/
div#content ul {
}
div#content ul li {
}
/*Nested*/
div#content * li ul {
}
div#content * li ul li {
}

/*Content Typography: Ordered Lists*/
div#content ol {
}
div#content ol li {
}
/*Nested*/
div#content * li ol {
}
div#content * li ol li {
}

/*Content Typography: Links*/
div#content a {
}
div#content a:visited {
}
div#content a:hover,
div#content a:focus {
}
