<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>One Page, Many Views</title>
  <link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
</head>
<body>
  <div id="content">
    <h1>One Page, Many Views</h1>
    <p>
      What visitors see in a Web browser as a whole page is actually often
      many separate elements. This XHTML page links to a CSS file that
      makes the page black with white text, and an image showing the file
      view of this page's contents.
    </p>
    <img src="image.png" width="384" height="288" alt="File view of this page." /> 
  </div>
</body>
</html>
